<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2 class="logo">Control Panel</h2>
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/masters" routerLinkActive="active">Masters</a>
      <a routerLink="/user-role" routerLinkActive="active">User Role</a>
      <a routerLink="/courses" routerLinkActive="active">Courses</a>
      <a routerLink="/organisation" routerLinkActive="active">Organisation</a>
      <a routerLink="/forms" routerLinkActive="active">Forms</a>
    </nav>

    <!-- Logout button at bottom -->
    <button class="logout-btn" (click)="logout()">Logout</button>
  </aside>

  <!-- Main content -->
  <main class="content">
    <!-- Topbar -->
    <header class="topbar">
      <div class="user-profile">
                    <span>👤</span>
                    <span>{{ username }}</span>
      </div>
    </header>

    <!-- Routed Components -->
    <section class="main-view">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
